@page
@model RazorPizzeria.Pages.Checkout.CheckoutModel
@{
}


<h1>Your Order!</h1>

<div class"align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img class="w-100" asp-append-version="true" />
        <p>Your order for the Pizza is ready!</p>
        <p>Total price for your order is: </p>
        <br />
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYouPage">Confirm order</a>
    </div>
</div>