@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Razor Sharp Pizzas!</h1>
    <h2>Razor Sharp Pizzas, is the pizza for you and mer :-)</h2>


    <img class="mainImage" src="~/images/PizzaTime.jpg" />
</div>
