@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Razor Sharp Pizzas!</h1>
    <h2>Razor Sharp Pizzas, is the pizza for you and me!! :-)</h2>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br/>

    <a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>

</div>
